@import 'src/scss/variables';
.step-count {
  font-size: 1rem;
  color: $orange;
}
.btn-next {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-top {
  padding-top: 0.5rem;
}
.p-top-1 {
  padding-top: 1rem;
}
