@import 'src/scss/variables';
.search-bar {
  display: flex;
  flex-direction: row !important;
  gap: 1rem;
  .icon-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
