.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-footer {
  background: var(--primary-color);
  border-radius: 12px;
  padding: 1rem 3rem 1rem 3rem;
}
.logo-footer__img {
  margin-bottom: 1rem;
}
